.content-container {
  position: relative;
  width: 90%;
  border: 1px solid rgb(177, 175, 175);
  border-radius: 6px;
  margin: 50px auto 20px auto;
  box-shadow: 4px 2px 4px 2px rgb(197, 193, 193);
}